node_modules
out/
logs/
runtime/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
public/dist/
pnpm-lock.yaml
.yalc/
yalc.lock
go/tmp/
go/public/dist/
build/extraResources/java-app.jar
build/extraResources/jre1.8.0_201/
python/.venv/
python/*.spec
python/build/
python/dist/
*DS_Store

# 忽略鸿蒙相关文件
#ohos_hap/docs/
ohos_hap/.idea
ohos_hap/.appanalyzer
ohos_hap/.hvigor
oh_modules/
oh-package-lock.json5
ohos_hap/electron/build/
ohos_hap/web_engine/build/


