node_modules
out/
logs/
runtime/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
public/dist/
pnpm-lock.yaml
.yalc/
yalc.lock
go/tmp/
go/public/dist/
build/extraResources/java-app.jar
build/extraResources/jre1.8.0_201/
python/.venv/
python/*.spec
python/build/
python/dist/
*DS_Store
