node_modules
out/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
pnpm-lock.yaml
.yalc/
yalc.lock
go/public/
build/extraResources/core.exe
build/extraResources/goapp.exe
