/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/hvigorw
/oh-package-lock.json5
/entry/oh-package-lock.json5
/entry/libs
/entry/oh_modules
/electron/oh-package-lock.json5
/electron/libs
/electron/oh_modules
/web_engine/BuildProfile.ets
/web_engine/oh-package-lock.json5
/web_engine/oh_modules
/web_engine/src/main/resources/rawfile
/web_engine/src/main/resources/resfile
/dependencies